body {
    background-image: url("../images/school-06.jpg");
    font-family: 'Poppins',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
  }
  
  .input-info {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .details {
    display: block;
    color: white;
    margin-bottom: 5px;
    width: 200px;
    text-align: center;
  }
  
  input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 200px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #4CAF50;
  outline: none;
}

.button {
    margin-top: 10px;
    width: 60%;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    background-color: rgb(87, 141, 70);
    border: 2px solid rgb(87, 141, 70);
  }

.button:hover{
    background-color: #ffffff;
    color: rgb(87, 141, 70);
   }