*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gill Sans, sans-serif;
}
body{
  background-image: url(../images/school-06.jpg);
  height: 100vh;
  background-repeat:repeat-y;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

a:hover{
  color: gray;
}
header{
  position: relative;
  padding-top: 12px;
}
.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
  font-size: 2rem;
  font-weight: bold;  
}
.navbar a{
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}
.navbar a:hover,
.navbar a:focus,
.navbar a.active{
  color: grey;
} 

.navbar .links{
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn{
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: none;
  /* margin-left: 700px; */
}

.action_btn{
  background-color: #4ca75a;
  color: #fff;
  padding: 0.7rem 3rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2 ease;
}

.action_btn:hover{
  scale: 1.05;
  color: #fff;
}

.action_btn:active{
  scale: 0.95;
}

.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top:60px;
  height: 0;
  width: 300px;
  background: rgba(76, 167, 90, 0.466)  ;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
  height: 415px;
  z-index: 3;
}

.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 1036px) {
  .navbar .links,
  .navbar .action_btn , 
  .navbar .profile-btn,
  .profile-dropdown.open {
      display: none !important;
  }
}

@media(max-width: 1036px) {
  .navbar .logo{
    position: relative;
    left: 0;
    top: 0;
    margin-top: 0;
  }
}

@media(min-width: 1036px) {
   .navbar .toggle_btn,
   .dropdown_menu.open{
      display: none !important;
  }
}

.navbar .toggle_btn{
  display: block;
}

.dropdown_menu{
  display: block;
}

@media(max-width: 1036px) {
  .dropdown_menu{
      left: 2rem;
      width: unset;
      margin-top: 2rem;
  }
}
.profile-box {
  position: relative;
}

.profile-btn {
  background-color: #4ca75a;
  color: #fff;
  padding: 0.7rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}

.profile-btn:hover {
  scale: 1.05;
  color: #fff;
}

.profile-btn:active {
  scale: 0.95;
}

.profile-dropdown {
  z-index: 3;
  display: none;
  position: absolute;
  top: 60px;
  right: 2rem;
  width: 300px;
  padding: 20px;
  margin: 10px;
  transition:all 0.3s ease-in-out;
  background: rgba(76, 167, 90, 0.466)  ;
  backdrop-filter: blur(15px);
  overflow: hidden;
  border-radius: 10px;
}
.profile-dropdown.open {
  display: block;
}

.footer {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: #fff;
}

.logo{
  width: 200px;
  /* margin-top: 5px; */
}

.sub-menu-wrap{
  position: absolute;
  top: 100%;
  right: 10%;
  width: 320px;
}

.sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

.sub-menu-link img{
  width: 40px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
  display: flex;
}
.sub-menu-link p{
  width: 100%;
  color: white;
}
.sub-menu-link span{
  color: white;
  font-size: 22px;
  transition: transform 0.5s;
}
.sub-menu-link:hover span{
  transform: translateX(5px);
}

.sub-menu-link:hover p{
  font-weight: 600;
}
.action_btn2{
  background-color: #4ca75a;
  color: #fff;
  padding: 0.7rem 3rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2 ease;
}

.action_btn2:hover{
  scale: 1.05;
  color: #fff;
}

.action_btn2:active{
  scale: 0.95;
}

.dropdown_menu .action_btn2{
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper i {  
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  margin-top: 50px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #4ca75a;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

.main-down {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping if necessary */
  justify-content: space-between; /* Align items with space between */
}

.main-down .your-place {
  height: 342px;
  list-style: none;
  background: #fff;
  padding-bottom: 15px;
  padding-top: 15px;
  flex-direction: column;
  border-radius: 8px;
  width: 500px;
  text-align: center;
  margin-top: 20px;
  backdrop-filter: blur(15px);
}

.main-down .avg-grade{
  height: 342px;
  list-style: none;
  background: #fff;
  padding-bottom: 15px;
  padding-top: 15px;
  flex-direction: column;
  border-radius: 8px;
  width: 500px;
  text-align: center;
  margin-top: 20px;
  backdrop-filter: blur(15px);
  float: right;
  
}

.big-num {
  color: #4ca75a;
  font-size: 200px;
  font-weight: bold;
}

.big-num2{
  color: #fff;
  font-size: 100px;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .your-place {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .your-place {
    width: 100%;
  }
}
.generate-code .Code{
  position: absolute;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  width: 400px;
  height: 50px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%); 
  transition: 0.5s;
  background-color: rgb(87, 141, 70);
  border: 2px solid rgb(87, 141, 70);
  color: #fff
}
.generate-code .Code:hover{
  background-color: #ffffff;
  color: rgb(87, 141, 70);
 }

.GeneratedCode{
  margin-top: 40px;
  margin-left: 43%;
  background-color: rgba(245, 245, 245, 0.897);
  width: 250px;
  height: 100px;
  color: #4ca75a;
  border: 2px solid #4CAF50;
  text-align: center;
  border-radius: 10px;
  padding-top: 35px;
}

@media screen and (max-width: 600px) {
  .generate-code .Code {
    width: 300px;
    margin-top: 30px;
  }
  .GeneratedCode .LoginWarning{
    margin-left: 25%;
    margin-right: 25%;
  }
}

/* Styles for .Code on medium screens */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .generate-code .Code {
    width: 350px;
    margin-top: 30px;
  }
    .GeneratedCode .LoginWarning{
    margin-left: 34%;
  }
}

/* Styles for .Code on large screens */
@media screen and (min-width: 901px) {
  .generate-code .Code {
    width: 400px;
    margin-top: 30px;
  }
  .GeneratedCode .LoginWarning{
    margin-left: 38%;
  }
}

/* @media screen and (min-width: 1440px) {
  .generate-code .Code {
    width: 400px;
    margin-top: 40px;
  }
  .GeneratedCode{
    margin-left: 41%;
    margin-top: 7%;
  } */


  .LoginWarning{
    margin-top: 40px;
    margin-left: 41%;
    background-color: rgba(245, 245, 245, 0.897);
    width: 250px;
    height: 100px;
    color: #4ca75a;
    border: 2px solid #4CAF50;
    text-align: center;
    border-radius: 10px;
    padding-top: 35px;
  }