/* .filter{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e94ca1",endColorstr="#c74ae9",GradientType=1);
   opacity: .7;
   } */
    .table-container{
      /* position: relative; */
      width: 90%;
      overflow-x: auto;
      margin: 0 auto;
      border-radius: 5px;
   } 
   table{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 90%; 
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(100, 95, 95, 0.7);
    border-radius: 12px 12px 0 0;
    overflow: auto !important;
    margin: 0 auto;
    
   
   }
   td , th{
    padding: 15px 20px;
    text-align: center;
    
   
   }
   th{
    background-color: #4ca75a;
    color: #fafafa;
    font-family: Gill Sans, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
   
   }
   tr{
    width: 100%;
    background-color: #fafafa;
    font-family: Gill Sans, sans-serif;
   }
   tr:nth-child(even){
    background-color: #eeeeee;
   }
   .add-grade{
    margin-right: 10px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-collapse: collapse;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background-color: #4ca75a;
    border-radius: 5px;
    border: 0px;
   }
   @media (max-width: 767px) {
    table {
      border-radius: 0;
    }
  
    td,
    th {
      padding: 10px;
    }
  
    .table-container {
      width: 100%;
      overflow-x: auto;
      margin: 0;
      border-radius: 0;
    }
  }
  .add-absence{
    margin-right: 10px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-collapse: collapse;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background-color: #4ca75a;
    border-radius: 5px;
    border: 0px;
   }
  .remove-absence{
    margin-right: 10px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-collapse: collapse;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background-color: red;
    border-radius: 5px;
    border: 0px;
  }