@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: url("../../images/school-06.jpg")
    
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 400px;
    height: 350px;;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    border-radius: 30px;
    
}
span{
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
header{
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.input-field .input{
    height: 45px;
    width: 87%;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(255, 255, 255, 0.177);
    outline: none;
}
i{
    position: relative;
    top: -33px;
    left: 17px;
    color: #fff;
}
::-webkit-input-placeholder{
    color: #fff;
}
.submit{
    /* border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    transition: .3s ; */
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    width: 100%;
    color: #fff;
    background-color: rgba(36, 134, 6, 0.719);
    border: 2px solid rgb(36, 134, 6, 0.719);
    cursor: pointer;
    transition: .6s ;
}
.submit:hover{
    /* box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2); */
    background-color: #ffffffae;
    color: rgb(87, 141, 70);
}