@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
*{
    font-family: 'poppins' ,sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: url("../images/school-06.jpg")
    
}
.container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    /* box-shadow: 0 5px 10px rgba(0,0,0,0.15); */
    
}
span{
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
header{
    color: rgb(87, 141, 70);
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.input-field .input{
    height: 45px;
    width: 90%;
    margin: 10px;
    border-radius: 30px;
    color: #000000;
    font-size: 15px;
    padding:0 0 0 45px;
    background: rgba(255,255,255,0.1);
    
}
i{
    position: relative;
    top: -33px;
    left: 17px;
    color: rgb(87, 141, 70);
}
::-webkit-input-placeholder{
    color: rgb(87, 141, 70);
}
.submit{
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    width: 100%;
    color: #fff;
    background-color: rgb(67, 160, 39);
    border: 2px solid rgb(67, 160, 39);
    cursor: pointer;
    transition: .3s ;
}
.submit:hover{
    background-color: #ffffff;
   color: rgb(87, 141, 70); 

}
.two-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #000000;
    font-size: small;
    margin-top: 10px;
}
.one{
    display: flex;
}
label a{
    text-decoration: none;
    color: #000000;
}
.signup_link a{
    text-decoration: none;
    color: #000000;     
}
.signup_link{
    text-align: center;
}